body {
	background-image:url(images/fond.jpg);
	background-repeat: no-repeat;
	background-position: 60% 0%;
}
h1 {
	color: orange;
	text-align: center;
}
button {
	background-color: orange;
	border: none;
	border-radius: 10px;
	color: black;
	padding: 15px 12px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
button:hover {
    background-color: rgba(255, 0, 0, 1);
    height: 10%;
    width: 10%;
    
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}